@import "./colors";
@import "./typography";

.allConnect {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray5;
  padding: 140px 0;
  h2 {
    text-align: center;
    padding: 0 0 77px;
  }
  .allConnect-socmed-wrapper {
    display: flex;
    justify-content: center;
    .allConnect-socmed {
      display: flex;
      gap: 24px;
      .allConnect-socmed-links {
        cursor: pointer;
      }
    }
  }
  .allConnect-tweets {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 77px;
    .allConnect-tweet {
      height: auto;
    }
  }
}

@media (max-width: 1200px) {
  .allConnect {
    padding: 0 18px;
    h2 {
      padding: 0 18px 77px;
    }
    .allConnect-socmed-wrapper {
      .allConnect-socmed {
        display: grid;
        grid-template-columns: repeat(4, 124px);
        gap: 24px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .allConnect {
    .allConnect-socmed-wrapper {
      .allConnect-socmed {
        grid-template-columns: repeat(8, 64px);
        gap: 16px;
        .allConnect-socmed-links {
          width: 100%;
          img {
            height: 64px;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .allConnect {
    .allConnect-tweets {
        width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .allConnect {
    .allConnect-socmed-wrapper {
      .allConnect-socmed {
        grid-template-columns: repeat(4, 64px);
      }
    }
  }
}
