$primary: #a8ff35;
$green2: #87d322;
$primaryHover: #8cc83a;
$black: #000000;
$black2: #2b2b2b;
$blackBg: #181818;
$gray: #8b8b8b;
$gray2: #adadad;
$gray3: #f5f5f5;
$gray4: #f1f1f1;
$gray5: #fafafa;
$white: #ffffff;
