@import "./colors";
@import "./typography";

.contactUs {
  background-color: $primary;
  padding: 140px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    padding: 0 0 32px;
    span {
      color: $green2;
    }
  }
  button {
    font-size: 18px;
    font-weight: 700;
    color: $white;
    background-color: $black;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    &:hover {
      background-color: $blackBg;
      transition: background-color 150ms linear;
    }
  }
}

@media (max-width: 800px) {
  .contactUs {
    padding: 80px 18px;
  }
}
