@import "./colors";

.header {
  padding-top: 99px;
  background-image: url(../img/bgHero.png);
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-wrapper {
    padding-top: 99px;
    max-width: 700px;
    h1 {
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      line-height: 112%;
      text-align: center;
      margin: 0;
      text-align: center;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      padding: 0 17px;
      margin: 24px 0 40px;
      color: $gray;
    }
    .header-wrapper-getStarted {
      display: flex;
      justify-content: center;
      div {
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        a {
          display: flex;
          text-decoration: none;
          justify-content: center;
          align-items: center;
          border-radius: 40px;
          width: 180px;
          height: 57px;
          color: $black;
          background-color: $primary;
          &:hover {
            background-color: $primaryHover;
            transition: all 150ms linear;
          }
        }
        img {
          position: absolute;
          right: -119px;
          top: -14px;
        }
      }
    }
  }
  .header-socmed {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 95px;
    gap: 5px;
    height: 200px;
    .header-socmed-link {
      width: 340px;
      height: 63px;
      background-color: $blackBg;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      filter: drop-shadow(8px 8px 4px $black);
      img {
        width: 31.74px;
        height: 31.74px;
      }
    }
    #header-socmed-link-1 {
      transform: rotate(-4deg);
      z-index: 4;
      right: 230px;
    }
    #header-socmed-link-2 {
      transform: rotate(2deg);
      z-index: 3;
      top: 52px;
      right: -30px;
    }
    #header-socmed-link-3 {
      transform: rotate(-2deg);
      z-index: 2;
      left: -50px;
    }
    #header-socmed-link-4 {
      transform: rotate(4deg);
      z-index: 1;
      top: 52px;
      left: 232px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .header-socmed {
      display: grid;
      grid-template-columns: repeat(2, 340px);
      height: auto;
      padding-bottom: 10vh;
      .header-socmed-link {
        position: static;
        width: auto;
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    padding-top: 56px;
    .header-wrapper {
      h1 {
        font-size: 36px;
        padding: 0 20px;
      }
      p {
        font-size: 14px;
        padding: 0 20px;
      }
    }
    .header-socmed {
      display: grid;
      grid-template-columns: repeat(1, 300px);
    }
  }
}
