@import "./colors";
@import "./typography";

.newTab {
  background-color: $primary;
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .newTab-panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    gap: 24px;
    .newTab-panel-container-rightArrowMobil {
      display: none;
    }
    .newTab-panel-container-leftArrowMobil {
      display: none;
    }
    .newTab-panel {
      background-color: $white;
      border-radius: 16px;
      padding: 60px 80px;
      .newTab-panel-link {
        background-color: $blackBg;
        display: flex;
        padding-left: 40px;
        gap: 16px;
        align-items: center;
        width: 340px;
        height: 82px;
        color: $white;
        position: relative;
        .newTab-panel-link-closeBtn-overlay {
          position: absolute;
          right: 0;
          background: linear-gradient(
            270deg,
            #030303 53.65%,
            rgba(3, 3, 3, 0.6) 100%
          );
          width: 85px;
          height: 100%;
        }
        .newTab-panel-link-closeBtn {
          position: absolute;
          right: 24px;
          cursor: pointer;
          z-index: 20;
        }
      }
    }
  }
  .newTab-text {
    font-family: "Effra";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $black;
    max-width: 666px;
  }
}

@media (max-width: 1000px) {
  .newTab {
    h1 {
      padding-bottom: 32px;
    }
    .newTab-panel-container {
      flex-direction: column-reverse;
      position: relative;
      padding: 60px 0;
      .newTab-panel-container-rightArrow {
        display: none;
      }
      .newTab-panel-container-leftArrow {
        display: none;
      }
      .newTab-panel-container-rightArrowMobil {
        display: block;
        position: absolute;
        width: 93.46px;
        height: 64.83px;
        bottom: 10px;
        align-self: flex-start;
        z-index: 10;
      }
      .newTab-panel-container-leftArrowMobil {
        display: flex;
        align-self: flex-end;
        position: absolute;
        top: 10px;
        width: 99px;
        height: 67.41px;
        z-index: 10;
      }
      .newTab-panel {
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 315px;
        height: 107.93px;
        padding: 0;
        .newTab-panel-link {
          padding-left: 0px;
          gap: 13px;
          width: 291px;
          height: 69.93px;
          .newTab-panel-link-logo {
            width: 27px;
            height: 27px;
            padding-left: 34px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .newTab {
    padding: 80px 0;
  }
}
